{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "rules": {
    "func-names": 0,
    "max-len": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "import/no-unresolved": 0
  },
  "globals": {
    "RediBox": true,
    "RediBoxCluster": true,
    "HOOK_NAME": true,
    "beforeEach": true,
    "Hook": true,
    "HookCluster": true,
    "before": true,
    "after": true
  }
}
